#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

#container .item {
    position: relative;
    text-align: center;
}
#container .item img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#container .item .filename {
    flex: 0 0 50%;
    display: block;
    position: absolute;
    right: 23%;
    bottom: 15px;
    transform: translateX(50%);
    padding: 5px 10px;
    background-color: white;
    color: black;
}

#container .item .size {
    flex: 0 0 50%;
    display: block;
    position: absolute;
    left: 22%;
    bottom: 15px;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: white;
    color: black;
}
