#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

#container .item {
    position: relative;
    text-align: center;
}
#container .item img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.item::before,.item::after {
    position: absolute;
    padding: 5px 10px;
    background-color: white;
    color: black;
}

.item::before{
    content: attr(data-before);
    left: 10px;
    bottom: 10px;
}

.item::after{
    content: attr(data-after);
    right: 10px;
    bottom: 10px;
}
